{% extends 'base.html' %} 
{% load static %}
{% load transaction_status %} 
{% load i18n %}
{% block title %}{% trans "Set Market Limit" %}{% endblock title %}

{% block content %}
    <div class="send-coin ">
        <div class="container">
            <h2 class="Ubuntu mb20">{% trans "Set Market Limit" %}</h2>
            <div class="row mb50 send-coin-wrap">
                <div class="row m0">
                    <h4 class="m30"> <b>{% trans "TXCH Main Wallet Details" %}</b> </h4>
                    <div class="row m0 wallet-details">
                        <div class="col-sm-6">
                            <img class="d-inline-block" src="{% static 'img/tixoncash.png' %}" width="40px">
                            <p class="d-inline-block mf10"><b>TXCH</b></p>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="min_price_limit">{% trans "Min Price:" %}</label>
                                <input type="number" id="min_price_limit" value="{{ market_value.min_price_limit }}" class="form-control"  placeholder="{% trans "Enter Min Price" %}">
                            </div>
                            <div class="col-sm-3">
                                <label for="max_price_limit">{% trans "Max Price:" %}</label>
                                <input type="number" id="max_price_limit" value="{{ market_value.max_price_limit }}" class="form-control"  placeholder="{% trans "Enter Max Price" %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="min_amount_limit">{% trans "Min Amount:" %}</label>
                                <input type="number" id="min_amount_limit" value="{{ market_value.min_amount_limit }}" class="form-control"  placeholder="{% trans "Enter Min Amount to send" %}">
                            </div>
                            <div class="col-sm-3">
                                <label for="max_amount_limit">{% trans "Max Amount:" %}</label>
                                <input type="number" id="max_amount_limit" value="{{ market_value.max_amount_limit }}" class="form-control"  placeholder="{% trans "Enter Max Amount to send" %}">
                            </div>
                        </div>

                        <div align="right">
                            <a href="{% url 'welcome' %}" type="button" class="btn-back btn m20 pull-left"> <i class="fas fa-arrow-left"></i> {% trans "BACK TO DASHBOARD" %}</a>
                            <button type="button" id="submit_amount" class="btn-main btn m20" >  {% trans "SAVE" %} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-body m50 text-center">
                    <img class="m30" src="{% static 'img/succes-thumb.png' %}" width="40%">
                    <h3 class="Ubuntu">{% trans "Success" %}</h3>
                    &nbsp;
                    <h6 class="Ubuntu m0">{% trans "TXCH Market limit Changed Successfully" %}.</h6>
                    &nbsp;
                </div>
                <div class="pop-footer" style="text-align: center;">
                    <a style="" href="." class="btn btn-main">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div id="error_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-body" style="padding: 50px 10px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="m30" src="{% static 'img/thumb-down.png' %}" width="40%">
                <h4 class="Ubuntu m0">{% trans "Please ensure that the input field have value" %}.</h4>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script>
    $('#submit_amount').click(function () {
        min_price_limit = $("#min_price_limit").val();
        max_price_limit = $("#max_price_limit").val();
        min_amount_limit = $("#min_amount_limit").val();
        max_amount_limit = $("#max_amount_limit").val();
        
        if (min_price_limit && max_price_limit && min_amount_limit && max_amount_limit) {
            $.ajax({
                type: 'POST',
                url: "{% url 'coins:set_market_limit' %}",
                data: {
                    'min_price_limit' : min_price_limit,
                    'max_price_limit' : max_price_limit,
                    'min_amount_limit' : min_amount_limit,
                    'max_amount_limit' : max_amount_limit,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(result) {
                    if(result.success){
                        $("#success_modal").modal("show");
                    }else{
                        $("#error_modal .modal-body h4").html(result['error']);
                        $("#error_modal").modal("show");
                    }
                },
                error: function(result) {
                    $("#error_modal .modal-body h4").html('Something went wrong');
                    $("#error_modal").modal("show");

                }
            });
        }
        else {
            $("#error_modal").modal("show")
        }
    });
</script> 
{% endblock script %}