{% autoescape off %}
{% load i18n %}
<h4>{% trans "Hi" %} {{ user.get_username }},</h4>
<h3>{% trans "To initiate the password reset process for your TixonExchange Account, click the link below" %}:</h3>
<a href="{{ protocol }}://tixon.exchange{% url 'password_reset_confirm' uidb64=uid token=token %}"><b>{% trans "click here" %}</a></b> 
<p>{% trans "If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead" %}.</p>
<p>{% trans "Sincerely" %},</p>
<p>Tixonxchange</p>
<p>http://tixon.exchange</p>
{% endautoescape %}