{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="Sign-wrapper"  style="padding-top: 68px;">
        <div class="container-fluid p0">
            <!-- <div class="col-sm-5 p0 hidden-xs" style="position: absolute;top:0;left:0;height:100%;">
                <img src="{% static 'img/signin_logo.png' %}" style="width:100%;height:100%">
            </div> -->
            
            <form action="." method="post" id="registerform" class="col-sm-offset-0">
                {% csrf_token %}
                <div class="register-wrap">
                    <h1>{% trans "Change Password" %}</h1>

                     {{form.non_field_errors}}
                     
                    <div class="form-group">
                        <label for="email">* {% trans "Original password" %} </label>
                        <input type="password" class="form-control"  placeholder="{% trans "Current Password" %}" name="old_password" id="id_old_password" onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" autocomplete="off" readonly style="cursor: text; background-color: #fff;">
                    </div>
                    <div class="errorlist" style="padding-left:5px">
                        {% for error in form.old_password.errors %}
                            {{error}}<br>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="email">* {% trans "New Password" %}
                            <i class="fa grey fa-info-circle p-relative">
                                <div class="info-password">
                                    <ul>
                                        <li> <i class="fa fa-circle fa-0x"></i>  {% trans "Minimum 8 characters" %}</li>
                                    <li> <i class="fa fa-circle fa-0x"></i> {% trans "At least 1 digit" %}</li>
                                    <li> <i class="fa fa-circle fa-0x"></i> {% trans "At least 1 lower case letter" %}</li>
                                    <li> <i class="fa fa-circle fa-0x"></i>{% trans "At least 1 upper case letter" %}</li>
                                    </ul>
                                </div>
                            </i>
                        </label>

                        <input type="password" class="form-control" placeholder="{% trans "Please set your login password" %}" name="new_password1" id="id_new_password1" onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" autocomplete="off" readonly style="cursor: text; background-color: #fff;">
                    </div>
                    <div class="errorlist" style="padding-left:5px">
                        {% for error in form.new_password1.errors %}
                            {{error}}<br>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="email">* {% trans "Confirm password" %}</label>
                        <input type="password" class="form-control"   placeholder="{% trans "Confirm your password" %}" name="new_password2" id="id_new_password2" onblur="this.setAttribute('readonly','');" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly style="cursor: text; background-color: #fff;">
                    </div>
                    <div class="errorlist" style="padding-left:5px">
                        {% for error in form.new_password2.errors %}
                            {{error}}<br>
                        {% endfor %}
                    </div>

                    <div class="clearfix"></div>
                   <div align="right">
                       <a class="btn btn-link m20" type="button" href="{% url 'coins:settings' %}" >{% trans "Cancel" %}</a>
                       <button class="btn btn-info m20" type="submit">{% trans "Change" %}</button> </div>
                </div>
            </form>

        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}
{% endblock %}